*{
    font-family:montserrat;
    box-sizing: border-box;
}
body{
    margin:40px;
    width:auto;
}
.logo img{
    width: 100px;
}
.main header{
    font-size: 20px;
}
.main header p{
    font-size: 12px;
}
.image img{
    width: 200px;
    margin-top: 0;
}

/* contact form 1 */

.contact{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
    padding:1em;
    min-width: 400px;
}
.contact form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.contact form label{
    display: block;
}
.contact form p{
    margin:0;
}
.contact form button, .contact form input, .contact form textarea{
    width:380px;
    padding:1em;
}
.contact form button{
    background-color: #57eeab;
    border:0;
}
.contact form button:hover{
    background: green;
    color: white;
}

/* contact form 2 */

.footer{
    background-color: #fffd8c;
    margin: 0;
    width: 100%;
    padding: 1em;
    margin-top: 20px;
}
 .contact2 form {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.contact2 form button{
    padding:1em;
    border:0;
    background-color: #ff8480;
}
.contact2 form button:hover{
    background: red;
    color: white;
}
/* MEDIA QUERIES 1 */

@media(min-width:700px){
    .main header{
        font-size: 40px;
    }
    .main header p{
        font-size: 20px;
    }
    .image img{
        width: 300px;
        margin-top: 0;
    }
    .contact{
        box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
        padding:1em;
        max-width: 600px;
    }
    .footer{
        background-color: #fffd8c;
        margin: 0;
        width: 100%;
        padding: 1em;
        margin-top: 20px;
    }
    .contact2 form {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .social a p{
        text-align:center;
    }
}

/* MEDIA QUERIES 2 */

@media(min-width:1000px){
    .wrapper {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main header{
        font-size: 35px;
        width: 400px;
    }
    .main header p{
        font-size: 20px;
        width: 400px;
    }
    .image img{
        width: 400px;
        margin-top: 0;
    }
    
    .footer{
        background-color: #fffd8c;
        margin: 0;
        width: 100%;
        padding: 1em;
        margin-top: 20px;
    }
    .footer form button, .footer form input, .footer form textarea{
        width:250px;
        padding:1em;
    }
    .social a p{
        text-align:center;
    }

}

