*{
    margin: 20px;
    font-family:montserrat;
    text-align: left;
}
.logo img{
    width: 100px;
}
.main header{
    font-size: 20px;
}
.main header p{
    font-size: 12px;
}
.image img{
    width: 200px;
    margin-top: 0;
}
.contact{
    background-color:red;
    border: black;
    margin: 0;
    padding: 0;
}