*{
    font-family:montserrat;
}
body{
    margin:40px;
}
.logo img{
    width: 100px;
}
.main header{
    font-size: 20px;
}
.main header p{
    font-size: 12px;
}
.image img{
    width: 200px;
    margin-top: 0;
}
#contact.contact {
    margin: 0;
    padding: 0;
    width:440px;
    margin-bottom: 40px;
   text-align: left;
}
.contact button{
    background-color: #57eeab;
}
.footer{
    background-color:#fffd8c;
    width:100%;
    text-align: center;
    padding: 10px;
}
.footer-contact button{
    background-color: #ff8480;
}